<h1>All Episodes</h1>

<%= button_to "Create New Appearance", new_appearance_path, method: "get" %>
<%= button_to "All Guests", guests_path, method: "get" %>
<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode_path(episode)%></li>
  <% end %>
</ul>
